<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>boost-xcode5-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>boost-xcode5-osx-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4BDF840183F364B0001F1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BDF867183F364B0001F1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BDF882183F37160001F1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BDF8A1183F37160001F1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
